<div class="card text-center {{classes}}">
  <img src="http://placehold.it/400" class="" alt="">
  <div class="card-section">
    <h6 class="product-card-name">Product name</h6>
    <p class="product-card-subname">Model details</p>
  </div>
  <div class="card-divider hollow align-center">
    <span class="card-product-price">$299.<small>00</small></span>
  </div>
  <div class="card-section flex-container align-middle align-center hover-action-section">
    <a href="#"><span class="badge secondary"><i class="fa fa-info" aria-hidden="true"></i></span></a>
    <a href="#"><span class="badge success"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
  </div>
</div>
