<div class="card">
  <img src="http://placehold.it/400" class="" alt="">
  <div class="card-section">
    <h4 class="card-product-title">Product Title</h4>
    <div class="card-product-rating">
      <ul class="menu">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
      </ul>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae magnam, soluta dolorum alias aliquid, sunt corrupti porro reprehenderit perferendis ab sequi numquam sed! Minus, minima officiis temporibus odit nemo rerum.</p>
  </div>
  <div class="card-divider flex-dir-column ">
    <small>Price</small>
    <span class="card-product-price">$199</span>
  </div>
  <div class="card-divider  align-justify align-middle">
    <a href="#" class="success button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
    <a href="#"><i class="fa fa-list" aria-hidden="true"></i> Compare products</a>
  </div>
</div>
