<div class="card card-hover-reveal" data-fadeInOut>
  <div class="card-section collapse">
    <img src="http://placehold.it/400x200" class="" alt="">
    <span class="price-label rounded">$9,000,000</span>
  </div>
  <div class="card-section">
    <h6 class="card-name">Product name</h6>
    <p class="card-subname">Model details</p>
  </div>
  <hr>
  <div class="card-section card-hover-reveal-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dicta aliquam alias in a, porro, nisi nobis fuga, minima voluptate explicabo iure similique at voluptatem debitis! Dolorem ad repellat voluptate.</p>
  </div>
</div>
