<div class="card card-product">
  <div class="card-section">
    <img src="http://placehold.it/540x450" class="" alt="">
  </div>
  <div class="card-divider  align-justify align-middle">
    <h4 class="card-product-title">Product Title</h4>
    <span class="card-product-price">$299.<small>00</small></span>
  </div>
  <div class="card-section">
    <p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod maiores nulla quaerat, sapiente voluptatem distinctio, quae obcaecati et repudiandae neque! Atque minus ipsa repellendus numquam quas.</p>
  </div>
  <div class="card-divider  align-justify align-middle">
    <div class="card-product-rating">
      <ul class="menu">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="card-product-actions">
      <ul class="menu simple">
        <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
        <li><a data-toggle="toggle-like"><i id="toggle-like" data-toggler=".is-liked" class="fa fa-heart-o" aria-hidden="true"></i></a></li>
        <li><a data-toggle="toggle-actions"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></li>
      </ul>
      <div class="card-product-action-popup" id="toggle-actions" data-toggler=".is-open">
        <button><i class="fa fa-thumbs-up" aria-hidden="true"></i>Favorite</button>
        <button><i class="fa fa-share" aria-hidden="true"></i>Share</button>
        <button><i class="fa fa-search-plus" aria-hidden="true"></i>Similar</button>
        </ul>
      </div>
    </div>
  </div>
</div>


