<div class="card product-card {{classes}}">
  <img src="http://placehold.it/600x300" class="" height="" width="" alt="">
  <div class="card-section">
    <h6 class="card-name">Product name</h6>
    <p class="card-subname">Model details</p>
  </div>
  <hr>
  <a href="#">
    <div class="card-divider align-justify align-middle ">
      <div>
        <p class="product-card-cta">Buy Now</p>
        <p class="card-subname">Via Amazon</p>
      </div>
      <span class="product-card-price">$99.<small>00</small></span>
    </div>
  </a>
</div>
