<div class="card">
  <img src="http://placehold.it/540x300" class="" alt="">
  <div class="card-divider  align-justify align-top">
    <h4 class="card-product-title">Plattan ADV Wireless Black</h4>
    <button><i class="fa fa-star" aria-hidden="true"></i></button>
  </div>
  <div class="card-section">
    <ul class="no-bullet">
      <li><i class="fa fa-check" aria-hidden="true"></i> Wireless</li>
      <li><i class="fa fa-check" aria-hidden="true"></i> Built in microphone</li>
      <li><i class="fa fa-check" aria-hidden="true"></i> Swipe Interface</li>
    </ul>
  </div>
  <div class="card-divider align-justify align-middle">
    <h4 class="mb0">69 USD</h4>
    <span>Color: <span class="badge"><span class="invisible">1</span></span></span>
  </div>
  <div class="card-divider  align-justify align-middle">
    <a href="#" class="button expanded">Add to cart</a>
  </div>
</div>
