<div class="card">
  <div class="card-section collapse">
    <img src="http://placehold.it/400x200" class="" alt="">
    <span class="time-label"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 hours ago</span>
  </div>
  <div class="card-section text-center">
    <h4 class="card-name">100 W Rincon Ave.
    <br>Campbell, CA 95008</h4>
  </div>
  <hr>
  <div class="card-divider align-spaced text-center feature-section">
    <div class="feature-section-item">
      <h5>1</h5>
      <p>BED</p>
    </div>
    <div class="feature-section-item">
      <h5>1</h5>
      <p>BATH</p>
    </div>
    <div class="feature-section-item">
      <h5>800</h5>
      <p>SQ FEET</p>
    </div>
  </div>
  <div class="card-divider  collapse">
    <a href="#" class="button expanded large">View Property</a>
  </div>
</div>
