<div class="card card-product medium-horizontal">
  <div class="card-divider align-middle">
    <img src="https://img0.etsystatic.com/106/0/8325816/il_570xN.1043638170_nily.jpg" class="" alt="" style="max-width: 200px;">
  </div>
  <div class="card-section flex-container flex-dir-column align-justify">
    <div>
      <h4 class="card-product-title">Han Solo's Blaster</h4>
      <p class="meta-data">Han shot first</p>
    </div>
    <div class="flex-container align-justify">
      <div><span class="label">Collector Items</span></div>
      <div>$1,258,085</div>
    </div>
  </div>
</div>
