<div class="card card-product medium-horizontal">
  <img src="http://placehold.it/200x200" class="" alt="">
  <div class="card-section">
    <h4 class="card-product-title">Product Title</h4>
    <p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod maiores nulla quaerat, sapiente voluptatem distinctio, quae obcaecati et repudiandae neque! Atque minus ipsa repellendus numquam quas.</p>
    <div class="card-product-rating">
      <ul class="menu">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-section card-product-details">
    <span class="card-product-price">$299.<small>00</small></span>
    <button data-toggle="toggle-actions1"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
    <div class="card-product-action-popup" id="toggle-actions1" data-toggler=".is-open">
      <button><i class="fa fa-thumbs-up" aria-hidden="true"></i>Favorite</button>
      <button><i class="fa fa-share" aria-hidden="true"></i>Share</button>
      <button><i class="fa fa-search-plus" aria-hidden="true"></i>Similar</button>
      </ul>
    </div>
  </div>
</div>
