<div class="card">
  <div class="card-divider hollow align-justify align-bottom">
    <div class="card-product-rating">
      <h4 class="card-product-title">Product Title</h4>
      <ul class="menu">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li> &nbsp; 14</li>
      </ul>
    </div>
    <span class="card-product-price">$559.99</span>
  </div>
  <img src="http://placehold.it/500x300" class="" alt="">
  <div class="card-section">
    <div class="button-group">
      <button class="secondary button"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
      <a href="#" class="secondary button">Compare</a>
      <button href="#" class="success button flex-child-grow">Buy</button>
    </div>
    <p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod maiores nulla quaerat, sapiente voluptatem distinctio, quae obcaecati et repudiandae neque! Atque minus ipsa repellendus numquam quas.</p>
  </div>
  <div class="card-divider hollow align-justify align-middle">
    <h6 class="mb0">Specifications</h6>
    <button><i class="fa fa-caret-down" aria-hidden="true"></i></button>
  </div>
</div>
