<div class="card">
  <div class="card-divider hollow align-right">
    <i class="fa fa-heart-o" aria-hidden="true"></i>
  </div>
  <div class="card-section flex-container align-center align-middle">
    <img src="http://placehold.it/150" class="" alt="">
  </div>
  <div class="card-divider flex-dir-column text-center hollow">
    <h4 class="card-product-title">Product Title</h4>
    <p class="mb0">99.00</p>
    <div class="card-product-rating">
      <ul class="menu align-center">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
</div>

