.card-divider {
  display: flex;

  &.hollow {
    background: $card-background;
  }
}

.card-section,
.card-divider {

  &.collapse {
    padding: 0;
  }
}

.card-toggle-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.button-group {
  .flex-child-grow {
    flex: 1 0 auto;
  }
}

.hover-action-section {
  opacity: 0;
  transition: opacity 0.2s ease-in;

  .badge {
    font-size: 1.5rem;
  }

  a:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.hover-action:hover .hover-action-section {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.card-hover-reveal-section {
  opacity: 0;
  height: 0;
  padding: 0;
  transition: all 0.2s ease-in;
}

.card-hover-reveal:hover {
  .card-hover-reveal-section {
    opacity: 1;
    height: 100%;
    padding: $global-padding;
    transition: all 0.2s ease-in;
  }
}

.card.borderless {
  border: none;

  &.card-section,
  &.card-divider {
    padding-left: 0;
    padding-right: 0;
  }
}
