.card-divider {
  display: flex;
}

.card-section,
.card-divider {
  &.collapse {
    padding: 0;
  }
}

// for icon groups
.card-actions {
  *:not(:first-child) {
    margin-left: 0.875rem;
  }
}

.card-toggle-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.button-group {
  .flex-child-grow {
    flex: 1 0 auto;
  }
}

.hover-action-section {
  opacity: 0;
  transition: opacity 0.2s ease-in;

  .badge {
    font-size: 1.5rem;
  }

  a:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.hover-action:hover .hover-action-section {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  animation: fadeIn ease-in 1;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.card-hover-reveal-section {
  display: none;

  &.fade-in {
    display: block;
  }
}

.borderless {
  border: none;

  &.card-section,
  &.card-divider {
    padding-left: 0;
    padding-right: 0;
  }
}

.button-group {
  flex-basis: 100%;

  &.expanded {
    .button {
      flex-grow: 1;
    }
  }
}
