.card-divider {
  .button,
  input {
    margin-bottom: 0;
  }
}

.mb0 {
  margin-bottom: 0;
}

.card {
  flex-basis: 100%;
  position: relative;
}

.card-section,
.card-divider {
  position: relative;
}

.card hr {
  margin: 0;
}

button {
  cursor: pointer;
}
