<div class="card medium-horizontal">
  <span class="floating-label">Automotive</span>
  <img src="http://placehold.it/300" class="" alt="">
  <div class="card-section flex-container align-middle">
    <div>
      <h4 class="card-product-title">Add a Clickbaitey Article Title Here</h4>
      <p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet.</p>
      <button class="button rounded">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
