<div class="card">
  <img src="http://placehold.it/540x300" class="" height="" width="" alt="">
  <div class="card-section">
    <h4 class="info-card-title">Why Elon Musk's Tesla Logo Design is a Perfect Example of Brand Identity</h4>
    <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sit aliquid repudiandae quia officia blanditiis obcaecati culpa molestias alias, placeat similique impedit itaque. Deserunt velit animi eum odit nostrum deleniti.</p>
    <p class="time">July 9th, 2017</p>
  </div>
  <div class="card-divider collapse">
    <button class="flex-child-auto button twitter"><i class="fa fa-facebook" aria-hidden="true"> 560</i></button>
    <button class="flex-child-auto button facebook"><i class="fa fa-twitter" aria-hidden="true"> 1908</i></button>
  </div>
</div>
