<div class="card">
  <div class="card-divider align-middle align-justify">
    <div class="flex-container align-middle">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41-3F5WXfAL._SX300_.jpg" class="avatar small content-right" height="" width="" alt="">
      <div>
        <h6 class="card-name">By Jabba the Hutt <span class="meta-data">Posted 27 min ago</span></h6>
        <p class="card-subname">Operating Criminal Empire</p>
      </div>
    </div>
    <div class="card-actions wide align-justify">
      <button><span class="badge hollow"><i class="fa fa-share" aria-hidden="true"></i></span></button>
      <button><span class="badge hollow"><i class="fa fa-heart-o" aria-hidden="true"></i></span></button>
      <button><span class="badge hollow"><i class="fa fa-plus" aria-hidden="true"></i></span></button>
    </div>
  </div>
  <div class="flex-container">
    <img src="http://placehold.it/200" class="" height="" width="" alt="">
    <div class="card-divider flex-container flex-dir-column">
      <p class="meta-data with-underline">Post category name</p>
      <h4 class="info-card-title">Disney reveals Death Star at Epcot</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eum sunt nulla tempore repudiandae asperiores earum architecto rem temporibus non atque doloremque, quidem officiis enim laboriosam dolorum aut doloribus ipsa!</p>
      <div class="card-actions wider align-middle">
        <button><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
        <button><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
        <span class="meta-data"> 69 Shares</span>
        <span class="meta-data"> 198 Likes</span>
      </div>
    </div>
  </div>
</div>
