<div class="card">
  <div class="card-section align-middle align-center text-center">
    <blockquote>
      "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate. Hate leads to suffering."
      <cite> Yoda</cite>
    </blockquote>
  </div>
  <div class="card-divider align-middle align-justify">
    <div>
      <a href="#">Quote of the day</a>
    </div>
    <div class="card-actions align-justify medium">
      <button><i class="fa fa-retweet small" aria-hidden="true"> 23</i></button>
      <button><i class="fa fa-heart-o small" aria-hidden="true"> 98</i></button>
    </div>
  </div>
  <div class="card-divider align-middle">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/d8/a0/7a/d8a07a96eadf06ba26e0b659e87b12ec.jpg" class="avatar small content-right" height="" width="" alt="">
    <div>
      <h6 class="card-name">Yoda</h6>
      <p class="card-subname">Jedi Master</p>
    </div>
  </div>
</div>
