<div class="card">
  <img src="http://placehold.it/540x300" class="" height="" width="" alt="">
  <div class="card-divider align-middle align-justify">
    <div>
      <a href="#">Travel</a>
    </div>
    <div class="card-actions align-justify medium">
      <button><i class="fa fa-retweet small" aria-hidden="true"> 23</i></button>
      <button><i class="fa fa-heart-o small" aria-hidden="true"> 98</i></button>
    </div>
  </div>
  <div class="card-section">
    <h4 class="info-card-title">10 Best Cities to Live in California</h4>
  </div>
  <div class="card-divider align-middle">
    <img src="https://assets.pinshape.com/uploads/image/file/29242/marvin-the-martian-ray-gun-3d-printing-29242.gif" class="avatar small content-right" height="" width="" alt="">
    <div>
      <h6 class="card-name">Marvin the Martian</h6>
      <p class="card-subname">Looney Tunes character with a big attitude</p>
    </div>
  </div>
</div>
