<div class="card medium-horizontal">
  <div class="card-section">
    <p class="info-card-detail">Article category here</p>
    <h4 class="card-product-title">Add a Clickbaitey Article Title Here</h4>
    <p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod maiores nulla quaerat, sapiente voluptatem distinctio, quae obcaecati et repudiandae neque! Atque minus ipsa repellendus numquam quas.</p>
    <div class="card-actions align-justify wide">
      <button><i class="fa fa-retweet" aria-hidden="true"></i> 23</button>
      <button><i class="fa fa-heart-o" aria-hidden="true"></i> 98</button>
      <button><i class="fa fa-eye" aria-hidden="true"></i> 369</button>
    </div>
  </div>
  <img src="http://placehold.it/200x200" class="" alt="">
</div>
