.avatar {
  border-radius: 50%;
  width: 115px;
  height: 115px;

  &.small {
    width: 30px;
    height: 30px;
  }

  &.large {
    width: 175px;
    height: 175px;
  }

  &.content-right {
    margin-right: 0.5rem;
  }
}
