.fa:not(.fa-heart) {
  font-size: 1.2rem;
  vertical-align: middle;

  &.small {
    font-size: 0.875rem;
    vertical-align: top;
  }
}

.badge {
  vertical-align: text-top;

  &.two-digit {
    padding: 0.65em 0.25em;
  }

  &.tiny {
    font-size: 0.6rem;
  }

  &.hollow {
    border: 1px solid $dark-gray;
    background: transparent;
    color: $body-font-color;
    padding: 1em;
  }
}
