<div class="card horizontal">
  <div class="card-divider">
    <img src="http://placehold.it/300x300" class="avatar" height="" width="" alt="">
  </div>
  <div class="card-section flex-container flex-dir-column align-spaced">
    <h6 class="card-name">Marvin the Martian</h6>
    <p class="card-subname">Looney Tunes character with a big attitude</p>
    <div class="card-actions">
      <button><i class="fa fa-twitter" aria-hidden="true"></i></button>
      <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
