<div class="card">
  <div class="card-divider align-top align-justify">
    <div>
      <img src="http://www.sideshowtoy.com/photo.php?sku=100156" class="avatar small" height="" width="" alt="">
      <span>Darth Maul</span>
    </div>
    <div class="time">
      7m
    </div>
  </div>
  <img src="http://placehold.it/540x300" class="" height="" width="" alt="">
  <div class="card-section">
    <p class="likes">11,456 likes</p>
    <p><strong>Darth Maul</strong> <i class="fa fa-quote-left"></i> At last we will reveal ourselves to the Jedi. At last we will have revenge.</p>
  </div>
  <hr>
  <div class="card-divider align-justify card-comment-actions">
    <button data-toggle="toggle-like1"><i id="toggle-like1" data-toggler=".is-liked" class="fa fa-heart-o" aria-hidden="true"></i></button>
    <input type="text" placeholder="Add a comment&hellip;">
    <button><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
  </div>
</div>
