<div class="card">
  <div class="card-section flex-container flex-dir-column align-middle align-center text-center">
    <img src="https://d1bm3dmew779uf.cloudfront.net/large/653f3ab5c11c4a2242dcca5dac48ef12.jpg" class="avatar large" height="" width="" alt="">
    <h6 class="card-name">Chewbacca - AKA Chewie</h6>
  </div>
  <div class="card-divider align-spaced text-center feature-section">
    <div class="feature-section-item">
      <h5>496</h5>
      <p>FOLLOWERS</p>
    </div>
    <div class="feature-section-item">
      <h5>111</h5>
      <p>FOLLOWING</p>
    </div>
    <div class="feature-section-item">
      <h5>95</h5>
      <p>POSTS</p>
    </div>
  </div>
  <div class="card-divider align-center">
    <div>
      <button href="#" class="button secondary rounded">Unfollow</button>
      <button href="#" class="button rounded">Follow</button>
    </div>
  </div>
</div>
